* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-inputs-global {
    width: 200px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 0;
}

.centered {
    margin-top: 40px;
    text-align: center;
}